/* GENERAL STYLES============================================= */

:root {
    --body-color: #e9e9e9;
    --canvas-color: #ffffff;
    --shadow-color: #b1b1b1;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-color);
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 10px 20px;
}


.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* || CANVAS SECTION ========================================= */

.canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    font-size: 14px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--canvas-color);
    width: 512px;
    height: 512px;
    box-shadow: 0 0 15px var(--shadow-color);
}

.title {
    font-weight: 100;
}

/* || CONTROLS SECTION ======================================= */

.controls {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.slide-container input {
    align-self: stretch;
}

.slide-container output {
    display: block;
}

.radioGroup {
    padding: 15px 20px 10px 15px;
    margin-bottom: 10px;
}

.radioGroup legend {
    padding: 0px 10px;
}

.rb-container {
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    margin-bottom: 10px;
}

.rb-container.solid label {
    margin-top: 3px;
}

.color-picker {
    border: none;
    margin-left: 3px;
    height: 25px;
    width: 22px;
} 

.btn.clear {
    margin-bottom: 15px;
    font-size: 16px;
    box-shadow: 0 0 15px var(--shadow-color);
}